.H_container{
    max-width: 1200px;
    height: 2000px;
    margin: 0 auto;
}
.H_all{
    width: 25px;
    height: 25px;
    background: url(../../public/images/age-all.png) no-repeat center;
    background-size: contain;
    padding: 10px;
    margin-right: 10px !important;
}
.H_12{
    width: 25px;
    height: 25px;
    background: url(../../public/images/age-12.png) no-repeat center;
    background-size: contain;
    padding: 10px;
    margin-right: 10px !important;
}
.H_15{
    width: 25px;
    height: 25px;
    background: url(../../public/images/age-15.png) no-repeat center;
    background-size: contain;
    padding: 10px;
    margin-right: 10px !important;
}
.H_19{
    width: 25px;
    height: 25px;
    background: url(../../public/images/age-19.png) no-repeat center;
    background-size: contain;
    padding: 10px;
    margin-right: 10px !important;
}
.H_title{
    border-bottom: 6px double #00c9c7;
    margin-bottom: 50px;
}


.H_movieChart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1240px;
    margin-left: -20px;
}
.H_movie{
    width: 20%;
    margin: 30px 20px;
}
.H_poster_box{
    position: relative;
}
.H_poster{
    width: 100%;
    height: 100%;
}
.H_poster_text_box{
    position: absolute;
    cursor: pointer;
    font-size: 15px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s;
    word-spacing: 1px;
    line-height: 20px;
}
.H_poster_text{
    margin: 20px;
    height: 51%;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}
.H_poster_text_box:hover{
    transition: all 0.5s;
    opacity: 1;
}
.H_movie_number{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px #00c9c7,
                 1px -1px 1px #00c9c7;
}
.H_name{
    display: flex;
    align-items: center;
}
.H_name>p{
    margin: 0;
    margin-top: 10px;

}
.H_movie_title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.H_second_name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}
.H_second_name>p:first-child::after{
    content: "";
    width: 1px;
    border-right: 1px solid #999;
    margin-left: 7px;
}
.H_ticketing_box{
    text-align: center;
}
.H_ticketing{
    text-align: center;
    width: 70%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #00c9c7;
    box-shadow: 5px 5px 3px #00fffb5d;
}