.w_fixbar {
    position: fixed;
    bottom: 15%;
    right: 2%;
    width: 250px;
    border: none;
    display: flex;
}
.get{
    width: 200px;
    height: 50px;
    background-color: #00c8c8;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 17px;
    box-shadow: 5px 10px 18px #888888;
}
.get:hover{
    background-color:white;
    color: #00c8c8;
    border: 2px solid #00c8c8;
    cursor: pointer;
}
.w_gotop{
    width: 50px;
    height: 50px;
    background-color: #00c8c8;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 16px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    box-shadow: 5px 10px 18px #888888;
}
.w_gotop:hover{
    background-color:white;
    color: #00c8c8;
    border: 2px solid #00c8c8;
    cursor: pointer;
}
.w_gotop>i{
    border: none;
    text-align: center;
    font-size: 18px;
    display: scroll;
}