.H_background_poster>img{
    position: absolute;
    z-index: -100;
    width: 100%;
}

.H_background_black{
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}
.H_movie_top{
    position: relative;
}
.H_black{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 550px;
    transform: translateX(-50%);
    background-image: radial-gradient( rgba(255,255,255,0), rgba(0,0,0,1) 90%);
    z-index: 1;
}
.H_movie_detail{
    text-align: center;
    margin: 0 auto;
}
.H_detail{
    position: relative;
}

.H_detail_poster{
    position: absolute;
    top: -80px;
    left: 30px;
    width: 300px;
    z-index: 2;
    box-shadow: 5px 5px 3px rgba(255,255,255,0.3),
                5px -5px 3px rgba(255,255,255,0.3),
                -5px 5px 3px rgba(255,255,255,0.3),
                -5px -5px 3px rgba(255,255,255,0.3);
}
.H_detail_poster:hover{
    width: 600px;
    left: -170px;
}
.H_movie_detail_text_box{
    margin-left: 400px;
    margin-right: 150px;
}
.H_nav_gnb{
    width: 70%;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.H_nav_gnb>li{
    width: 100%;
}
.H_nav_gnb>li>button{
    font-family: 'HoengSeong',sans-serif;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,200,200,0.5);
}
li>button:hover{
    border:1px solid rgba(0,200,200,0.5)
}
li>button.active{
    box-shadow: 0px 0px 10px rgba(0,200,200,1);
}
.H_nav_lnb{
    position: absolute;
    top: 50px;
    left: 0;
    margin-top: 30px;
    width: 100%;
}

.H_information{
    white-space: pre-line;
}
.H_information>h1{
    text-shadow: 0px 0px 10px rgba(0,200,200,1),
                 2px 0px 1px #000, -2px 0px 1px #000,
                 0px 2px 1px #000, 0px -2px 1px #000;
}
.H_information>h4{
    word-spacing: 1px;
    line-height: 20px;
}

.H_Movie_Page_Slider{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 200, 200, 1);
}
.swiper-button-next,
.swiper-button-prev{
    color: #00c8c8 !important;
}