
.b_login{
    /* background-color: #c6f8f7; */
    margin: 50px auto 0;
    width: 300px;
    height: 500px;
}
.b_text-h1{
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #00c9c7; */
}
.b_sub{
	box-shadow:inset 0px 1px 1px 1px rgba(0,0,0,0.09);
	background:linear-gradient(to bottom, #fff 5%, #fff 100%);
	background-color:#bce9e8;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#999;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px ;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.b_sub {
	background:linear-gradient(to bottom, #bce9e8 5%, #d2faf9 100%);
	background-color:#81cccb;
    width: 300px;
}
.b_sub:hover{
    color: #666;

}
#b_checkbox{
    width: auto;
    margin-right: 20px;
}
.b_form input:not(#b_checkbox){
    width: 100%;
    height: 30px;
    margin: 20px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #999;
}
.b_form label:not(.b_remember){
    display: inline-block;
    margin-right: 25px;
    text-align: left;
    border-bottom: 2px solid #00c9c7;
}

.b_remember{
    color: rgba(0,0,0,0.7);
    font-size: 15px;
}
.b_text-right{
    text-align: right;
    font-family: "GowunDodum-Regular";
    color: rgba(0,0,0,0.5);
    display: block;
    line-height: 50px;
}

.b_btnbox{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.snsIcon .b_face{
    color: #4867AA;
    font-size: 20px;
}
.snsIcon .b_google img{
    width: 20px;
    height: 20px;
}
.snsIcon .b_twitter{
    color: #1C96E8;
    font-size: 20px;
}
.snsIcon {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.snsIcon a {
    display: block;

}
.b_text{
    line-height: 100px;

}

