.b_container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;

}
.b_title{
    padding-bottom: 20px;
    padding-left: 5px;
    border-bottom: 4px solid #333;
}
.b_nav{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    border-bottom: 1px solid #999;
   
}

.b_nav li a:hover:not(.b_myButton){
   color: #00c9c7;
} 
.b_color{
   color: #00c9c7;
}
.b_movie{
   padding-left: 10px;
}
.b_myButton {
   box-shadow:inset 0px 39px 0px -24px #0ec0bd;
   background-color:#00c9c7;
   border-radius:9px;
   border:1px solid #ffffff;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:"HoengseongHanu";
   font-size:13px;
   padding:5px 10px;
   text-decoration:none;
   text-shadow:0px 1px 0px #00c9c7;

}
.b_myButton:hover {
   box-shadow:0px 39px 0px -24px #2c5e5d;
}
.b_myButton:active {
   position:relative;
   top:1px;
}
.b_change{
   color: #000;
}

.b_side{
   width: 160px;
   height: 300px;
   margin-top: 10px;
   margin-left: 10px;

}
.b_sideImg img{
   max-width: 100%;
   height: 300px;
}
.b_sideBox{   
   width: 160px;  
   height: 300px;
   margin-left: 10px;
   position: relative;
   overflow: hidden;
}
.b_sideImg {
   height: 900px;
   position: absolute;
   top: 0;
   left: 0;
}
